venv
Reading 1 Te Awa Atua.wav
output_audio.wav
Reading 2 Te Awa Atua_ocr.wav
core/__pycache__
gui/__pycache__
models/voice1.onnx
models/voice1.onnx.json
models/voice2.onnx
models/voice2.onnx.json
models/voice3.onnx
models/voice3.onnx.json
models/voice4.onnx
models/voice4.onnx.json
models/voice5.onnx
models/voice5.onnx.json
temp_tts_input.txt
audio